.scroll-story {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-story::-webkit-scrollbar {
    height: 0;
}

.insta-border-1 {
    background: rgb(232, 86, 203);
    background: linear-gradient(-100deg, rgba(232, 86, 203, 1) 0%, rgba(255, 22, 108, 1) 44%, rgba(255, 196, 0, 1) 100%);
    padding: 2px;
}